<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

            <meta property="og:title" content="{{ title }}" />
            <meta property="og:type" content="article" />
            <meta property="og:url" content="{{ env.BASE_URL + page.url }}" />
            <meta name="og:description" content="{{ description }}">
            <meta property="og:image" content="{{ social_img }}" />
            <meta property="og:image:alt" content="{{ social_img_alt }}" />

        <meta name="fediverse:creator" content="@jkaego@mastodon.social" />
        <link rel="stylesheet" href="/index.css">
        <link
          href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
          rel="stylesheet"
        />
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="container">
      <header>
        <div>
          <h2><a href="/" aria-label="home">jay kaego</a></h2>
        </div>
      </header>

      <article>
          {{ content | safe }}
      </article>

     <footer>

     </footer>
    </body>
</html>